# Use root/example as user/password credentials
version: '3.1'

services:
  mongo:
    image: mongo
    ports:
      - 27018:27017
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - deep-mongo:/data/db
volumes:
  deep-mongo:
