$padding: 2rem 4rem;
.c-letter {
  background-color: $color-lightgrey;
  border-radius: 4rem;
  border: 0.3rem solid $color-default;
  //box-shadow: inset 0px 0px 0px 10px #f00;
  display: flex;
  flex-direction: column;
  margin: 1rem 4rem;

  input {
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  img {
    transform: scale(0.7);
    transform-origin: top right;
  }

  &__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    height: 1rem;
    padding: $padding;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    padding: $padding;
  }

  &__body {
    min-height: 20rem;
    padding: $padding;
  }
}
