.c-answer-scope {
  height: 70vh;

  h1 {
    font-size: 1.5rem;
    padding: 0.5rem 4rem;
    text-align: center;
  }

  &__close {
    padding: 2rem 0 0 4rem;
    img {
      cursor: pointer;
      width: 2.4rem;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}
