.c-answer-scope {
  height: 70vh;

  h1 {
    text-align: center;
    padding: 0.5rem 4rem;
    font-size: 1.5rem;
  }

  &__close {
    padding: 2rem 0 0 4rem;
    img {
      width: 2rem;
    }
  }
}
