.c-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;

  img {
    width: 2rem;
    margin-right: 1rem;
  }

  h1 {
    margin-bottom: 5rem;
  }
}
