.animations {
  &--hide {
    opacity: 0.5;
  }
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: all 600ms;
  margin-top: 0rem;
}
.alert-exit {
  opacity: 0;
  margin-top: 200px;
}
.alert-exit-active {
  opacity: 1;
  margin-top: 0;
  transition: all 600ms;
}

// --- Fade ---

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 600ms;
}
.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 1;
  transition: all 600ms;
}
