@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Work+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-darkgrey;
}

p {
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

textarea {
  background-color: $color-lightgrey;
  border: none;
  font-family: 'Work Sans', sans-serif;
  outline: none;
  resize: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: $color-darkgrey;
}
